<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MajorProject</title>
</head>
<body>
    <h3>Create a new Listing</h3>
    <form method="POST" action="/listings">
        <input type="text" name="listing[title]" placeholder="Enter your title">
        <br>
        <textarea type="text" name="listing[description]" placeholder="Enter your description"></textarea>
        <br>
        <input type="text" name="listing[image]" placeholder="Enter your Image URL/Link">
        <br>
        <input type="number" name="listing[price]" placeholder="Enter your Price">
        <br>
        <input type="text" name="listing[country]" placeholder="Enter your country">
        <br>
        <input type="text" name="listing[location]" placeholder="Enter your location">
        <br>
        <button>Add</button>
    </form>
</body>
</html>